@import "./colours";
@import "./base";

$unknown_category: $yellow;
$must: $green_light;
$should: $orange_light;
$could: $blue_light;
$nice: $gray_light;

.fixed-info {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $white;
  justify-content: flex-end;
  opacity: .7;
}

.card {
  position: relative;
  background-color: $unknown_category;
  border: 1px solid darken($unknown_category, 50%);
  padding: 10px;
  margin: 5px;

  &.summary {
    background-color: $white;
    border: none;
  }
}

.cards {
  display: flex;
  flex-flow: row wrap;
}

.card-story {
  cursor: default;
  width: 380px;
  height: 120px;
  transition: background-color 0.5s ease;
}

.card-narrative {
  font-weight: normal;
}

.card-feature {
  position: absolute;
  display: block;
  text-transform: uppercase;
  color: $gray;
  bottom: 3px;
  right: 3px;
}

.feature-name {
  cursor: pointer;
}

.priority {
  cursor: pointer;
}

@mixin priority-card($colour) {
  background-color: $colour;
  border: 1px solid darken($colour, 50%);

  &:hover {
    background-color: darken($colour, 8%);
  }
}

.must-have {
  @include priority-card($must);
}

.could-have {
  @include priority-card($could);
}

.nice-to-have {
  @include priority-card($nice);
}

.should-have {
  @include priority-card($should);
}
